@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logotextsize {
  position: relative;
  font-size: 50px;
  padding-right: 125px;

}

.homebar {

  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(52, 160, 76);
  text-size-adjust: 25%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
  padding-left: 10%;
  margin-bottom: 50px;
  
}

.homebar button {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  background: none;
  color: black;
  font-size: 35px;
  
}

.homebar button:hover {
  /* background-color: rgb(52, 160, 76); */
  position: center;
  color: aliceblue;
  font-size: 450%;
  cursor: pointer;
 
  
  width: 100%;
  background-color: rgb(52, 160, 76);
  text-size-adjust: 25%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.welcomescreen {
  display: grid;
  font-size: 200%;
  width: 100%;
  padding: 15%;
  padding-bottom: 20%;
}

.productscreen {
  display: grid;
  width: 100%;
  padding-bottom: 20%;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(53, 92, 129);
  font-size: 200%;
}

.galleryscreen {
  display: grid;
  width: 100%;
  padding-bottom: 20%;

  background-color: rgb(203, 205, 207);

}

.contactscreen {
  display: grid;
  width: 100%;
  padding-bottom: 4%;
  background-color: rgb(117, 168, 83);
  display: flex;
  justify-content: center;
  align-items: center;
}